HOST=127.0.0.1
PORT=3333
NODE_ENV=development

APP_URL=http://${HOST}:${PORT}

PUBLIC_URL=http://${HOST}:3000
PUBLIC_EMAIL=noreply@ggc-consulting.it

CACHE_VIEWS=false

APP_KEY=
TOKENS_KEY=

#########################
# DB settings

DB_CONNECTION=mongodb
DB_CONNECTION_STRING=mongodb://localhost:27017/ggc_development
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_USER=root
# DB_PASSWORD=
# DB_DATABASE=ggc_development

#########################
# Email settings

MAIL_CONNECTION=smtp
SMTP_PORT=25
SMTP_HOST=smtp.mailtrap.io
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_API_KEY=786c6032-b5f0-495c-8f67-79c598379ac7
MAIL_FROM=Global Group Consulting <noreply@globalgroup.consulting>

#########################
# File Storage
STORAGE=s3
S3_KEY=
S3_SECRET=
S3_BUCKET=
S3_REGION=

#########################
# Other settings

SESSION_DRIVER=cookie

HASH_DRIVER=bcrypt
